.klas2{
    margin-top: 10px;
    width: 20px;
}
.klas1{
    border-radius: 50%;
    height: 27px;
    margin-top: 10px;
}
.klas3{
    background-color: #c377cb;
}
.klas4 {
    margin-top: 22px;
    margin-left: -5px;
    height: 42px;
    width: 44px;
}